@import "variables";

.footer {
    background-color: $bgFooter;
    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 44px 40px;
        min-height: 124px;
    }
    &-copy {
        color: $colorWhite;
        opacity: 0.4;
    }
    &-social {
        display: flex;
        align-items: center;
        .icon {
            width: 32px;
            height: 32px;
            color: #fff;
        }
        a {
            text-decoration: none;
            transition: 0.2s;
            &:not(:last-child) {
                margin-right: 14px;
            }
            &:hover .icon {
                opacity: 0.4;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &-content {
            padding: 30px 20px;
        }
    }
}

@media screen and (max-width: 479px)  {
    .footer {
        &-content {
            flex-direction: column;
            align-items: flex-start;
        }
        &-copy {
            margin-bottom: 10px;
        }
    }
}
