@import "variables";

.header{
    &-content {
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 23px 40px 24px;
        background-color: $colorWhite;
    }
}

.menu {
    display: flex;
    &-main {
        display: flex;
        align-items: center;
        margin-right: 40px;
        &__item {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
        &__link {
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;
            color: $colorMain;
            transition: 0.2s;
            border-bottom: 1px solid transparent;
            white-space: nowrap;
            &:hover {
                border-bottom-color: $colorMain;
            }
        }
    }
    &-toggle {
        width: 24px;
        height: 24px;
        background-color: $colorWhite;
        padding: 6px 3px;
        cursor: pointer;
        display: none;
        span {
            width: 18px;
            height: 2px;
            background-color: $colorBlack;
            display: block;
            &:nth-child(2) {
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }
    } 
}

@media screen and (max-width: 767px) {
    .header {
        &-content {
            padding: 20px;
            min-height: 68px;
        }
    }
    .menu {
        display: none;
        &-toggle {
            display: block;
        }
    }
}
