* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #1B1B1B;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 43px;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.content-text {
  max-width: 925px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .content-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 479px) {
  .h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content-text {
    font-size: 16px;
  }
}
.btn {
  min-width: 106px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(27, 27, 27, 0.4);
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #F7F9FB;
}

.header-content {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 24px;
  background-color: #fff;
}

.menu {
  display: flex;
}
.menu-main {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.menu-main__item:not(:last-child) {
  margin-right: 30px;
}
.menu-main__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
  white-space: nowrap;
}
.menu-main__link:hover {
  border-bottom-color: #1B1B1B;
}
.menu-toggle {
  width: 24px;
  height: 24px;
  background-color: #fff;
  padding: 6px 3px;
  cursor: pointer;
  display: none;
}
.menu-toggle span {
  width: 18px;
  height: 2px;
  background-color: #000;
  display: block;
}
.menu-toggle span:nth-child(2) {
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 767px) {
  .header-content {
    padding: 20px;
    min-height: 68px;
  }

  .menu {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}
.intro-content {
  padding: 80px 40px;
}
.intro-img {
  display: block;
  margin: 0 auto;
  max-width: 397px;
  width: 100%;
  height: auto;
  margin-bottom: 61px;
}

.contacts {
  background-color: #F7F9FB;
}
.contacts-content {
  padding: 80px 40px 104px;
}
.contacts-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-item {
  max-width: 264px;
  margin: 0 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contacts-item:not(:last-child)::before {
  content: "";
  width: 1px;
  height: 62px;
  position: absolute;
  background-color: #C8C8CF;
  top: -3px;
  right: -68px;
}
.contacts-descr {
  font-size: 14px;
  line-height: 1.5;
  color: #4F4F4F;
  margin-bottom: 6px;
}
.contacts-link {
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
.contacts-link:hover {
  border-bottom-color: #000;
}

.team-content {
  padding: 80px 100px 60px;
}
.team-flex {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-item {
  max-width: 196px;
  width: 100%;
  min-height: 261px;
  margin: 0 33px 60px;
  text-align: center;
  transition: 0.2s;
}
.team-item:hover .team-img {
  transition: 0.2s;
  filter: grayscale(0.6);
}
.team-img {
  width: 180px;
  height: 180px;
  border-radius: 180px;
  overflow: hidden;
  margin: 0 auto 23px;
}
.team-name {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 1.5;
  margin-bottom: 8px;
}
.team-skill {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #828282;
}

.question-content {
  padding: 80px 40px 60px;
}
.question-img {
  display: block;
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  height: auto;
  margin-bottom: 61px;
}

.collapsible {
  padding-bottom: 106px;
}
.collapsible-set {
  max-width: 1066px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 147.3%;
  color: #1B1B1B;
  padding: 0 20px;
}
.collapsible-button {
  width: 100%;
  background: #F7F7F8;
  padding: 19px 55px 18px 22px;
  margin-bottom: 14px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 147.3%;
  text-align: left;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.collapsible-button.active {
  background: rgba(97, 161, 153, 0.15);
  color: #61A199;
}
.collapsible-button.active::after {
  content: url(/img/chevron-up.png);
}
.collapsible-button::after {
  content: url(/img/chevron-down.png);
  position: absolute;
  right: 20px;
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
}
.collapsible-content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}
.collapsible-inner {
  padding: 6px 22px 40px;
}

@media screen and (max-width: 991px) {
  .team-content {
    padding: 80px 50px 60px;
  }
}
@media screen and (max-width: 767px) {
  .intro-content {
    padding: 40px 20px;
  }
  .intro-img {
    margin-bottom: 40px;
    max-width: 330px;
  }

  .contacts-content {
    padding: 60px 15px 75px;
  }
  .contacts-flex {
    flex-direction: column;
  }
  .contacts-item::before:not(:last-child)::before {
    content: none;
  }

  .team-content {
    padding: 60px 20px 30px;
  }
  .team-item {
    margin: 0 20px 40px;
    min-height: 200px;
    max-width: 180px;
  }
  .team-img {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    margin-bottom: 20px;
  }
  .team-img img {
    width: 130px;
  }
  .team-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .team-skill {
    font-size: 13px;
  }

  .question-content {
    padding: 40px 20px 30px;
  }
  .question-img {
    margin-bottom: 40px;
    max-width: 300px;
  }

  .collapsible {
    padding-bottom: 80px;
  }
  .collapsible-set {
    font-size: 16px;
  }
  .collapsible-button {
    font-size: 16px;
  }
}
@media screen and (max-width: 479px) {
  .intro-img {
    max-width: 268px;
  }

  .contacts-content {
    padding: 40px 20px 40px;
  }
  .contacts-item {
    margin: 0;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .contacts-descr {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .contacts-link {
    font-size: 14px;
  }

  .team-content {
    padding: 40px 20px 30px;
  }
  .team-flex {
    padding-top: 10px;
  }
  .team-item {
    margin: 0 0 30px;
    min-height: 138px;
    max-width: 167px;
  }
  .team-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-bottom: 20px;
  }
  .team-img img {
    width: 80px;
  }
  .team-name {
    font-size: 16px;
    margin-bottom: 1px;
  }
  .team-skill {
    font-size: 12px;
  }

  .question-img {
    max-width: 242px;
  }

  .collapsible {
    padding-bottom: 36px;
  }
  .collapsible-set {
    font-size: 14px;
  }
  .collapsible-button {
    padding: 14px 40px 15px 20px;
    font-size: 14px;
  }
  .collapsible-inner {
    padding: 5px 20px 20px;
  }
  .collapsible-button::after {
    content: url(/img/chevron-down-min.png);
    right: 10px;
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
  }
  .collapsible-button.active::after {
    content: url(/img/chevron-up-min.png);
  }
}
.footer {
  background-color: #3F3D56;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 44px 40px;
  min-height: 124px;
}
.footer-copy {
  color: #fff;
  opacity: 0.4;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social .icon {
  width: 32px;
  height: 32px;
  color: #fff;
}
.footer-social a {
  text-decoration: none;
  transition: 0.2s;
}
.footer-social a:not(:last-child) {
  margin-right: 14px;
}
.footer-social a:hover .icon {
  opacity: 0.4;
}

@media screen and (max-width: 767px) {
  .footer-content {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 479px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-copy {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
